<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adolphor.uiwidgettest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetActivity"
            android:label="@string/title_activity_widget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".layout.LayoutActivity" />
        <activity android:name=".layout.linear.Linear02LayoutActivity" />
        <activity android:name=".layout.linear.Linear01LayoutActivity" />
        <activity android:name=".layout.linear.Linear00LayoutActivity" />
        <activity android:name=".layout.relative.Relative00LayoutActivity" />
        <activity android:name=".layout.relative.Relative01LayoutActivity" />
        <activity android:name=".layout.relative.Relative02LayoutActivity" />
        <activity android:name=".layout.frame.Frame00LayoutActivity" />
        <activity android:name=".layout.frame.Frame01LayoutActivity" />
        <activity android:name=".layout.percent.Percent00LayoutActivity" />
        <activity android:name=".layout.percent.PercentFrameLayoutActivity" />
        <activity android:name=".layout.percent.PercentRelativeLayoutActivity" />
        <activity android:name=".layout.constraint.Constraint00LayoutActivity" />
        <activity android:name=".layout.custom.Custom01IncludeActivity" />
        <activity android:name=".layout.custom.Custom02TitleLayoutActivity" />
        <activity android:name=".layout.listView.ListView00Activity" />
        <activity android:name=".layout.listView.ListView01Activity" />
        <activity android:name=".layout.listView.ListView02Activity" />
        <activity android:name=".layout.recyclerView.RecyclerView00Activity" />
        <activity android:name=".layout.recyclerView.RecyclerView01Activity"></activity>
    </application>

</manifest>